<h1>GOOGLE MAPS</h1>

<% content_for(:after_js) do %>
  <script>
    // $(document).ready(function() {
    //   var coord = <%= raw @flat_coordinates %>;
    //   alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    // });
  </script>
<% end %>
