/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.white {
  color: white;
}

.white:hover {
  color: #71C9C7;
}

.no-decoration {
  text-decoration: none !important;
}

.margin-15 {
  margin-top: 15px;
}

// div.fileinputs {
//   position: relative;
// }

// div.fakefile {
//   position: absolute;
//   width: 100%;
//   border: 1px solid;
//   color: #333;
//   background-color: #fff;
//   border-color: #ccc;
//   padding: 6px 12px;
//   text-align: center;
//   border-radius: 2px;
//   top: 0px;
//   left: 0px;
//   z-index: 1;
// }

// input.file {
//   position: relative;
//   text-align: right;
//   width: 100%;
//   opacity: 0;
//   z-index: 2;
// }
